body{
    gap: 15px;
}

.camp_portfolio{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
}

.camp_portfolio .control_camp_projects{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-background_elements);
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 20px;
    gap: 15px;
}


.control_camp_projects .camp_filter_projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.camp_filter_projects .filter_project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.camp_filter_projects .filter_search{
    position: relative;
    width: 260px;
    height: 30px;
}

.filter_search img{
    width: 15px;
    height: 15px;
    position: absolute;
    object-fit: cover;
    left: 10px;
    z-index: 1;
}

.filter_search input{
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left: 35px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-secundary);
    background: #FAF9F6;
}

.camp_filter_projects .filter_select{
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 30px;
}

.filter_select select{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    outline: none;
    border: none;
    appearance: none;
    border-bottom: 1px solid var(--color-secundary);
    background: #FAF9F6;
}

.camp_projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

    width: 100%;
    
}

.camp_projects .card_project{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 260px;
    background: var(--color-background_elements);
    border-radius: 20px;
    transition: 0.75s;
}

.card_project .back_card_project, .card_project .front_card_project{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card_project:hover {
    width: 300px;
    height: 280px;
    transition: 0.75s;
}
.card_project:hover .front_card_project{
    display: none;
}
.card_project:hover .back_card_project{
    display: flex;
}
.card_project .front_card_project{
    align-items: center;
    justify-content: flex-end;
}

.front_card_project .title_card{
    padding: 15px;
    background: var(--color-secundary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.title_card h2{
    color: #fafafa;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card_project .back_card_project{
    display: none;
    align-items: flex-start;
    justify-content:space-between;
    padding: 20px;
    gap: 10px;
}

.back_card_project .title_card_back{
    color: var(--color-secundary);
}

.back_card_project .list_card_language{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
    padding: 5px;
}

.list_card_language .language_card{
    padding: 10px;
    background: var(--color-primary);
    color: #fafafa;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.back_card_project input{
    width: 100%;
    padding: 8px;
    text-transform: uppercase;
    outline: none;
    border: none;
    background: var(--color-secundary);
    color: #fafafa;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 10px;
}