
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
:root{
    --color-background: #F7F1E5;
    --color-background_elements: #EBE3D5;
    --color-text: #3C3C3C;
    --color-primary: #aba29c;
    --color-secundary: #687469;
}
body.dark {
    --color-background: #2B2B2B;
    --color-background_elements: #3A3A3A;
    --color-text: #e1e1e1;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: var(--color-background);
    font-family: sans-serif;
    color: var(--color-text);
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content:space-between;
    align-items: center;
    padding: 10px 15px;
    background: var(--color-background_elements);
    flex-wrap: wrap;
    gap: 10px;
}

.header .list_pages{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.list_pages .nav_page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_pages .select{
    background: var(--color-secundary);
    border-radius: 15px;
    padding: 8px 14px;
}

.list_pages a{
    text-decoration: none;
    color: var(--color-text); 
    font-size: 13px;  
    font-family: sans-serif;
}

.select a {
    color: #FAFAFA;
    font-weight: bold
}

.list_pages .nav_page:hover a {
    transition: 0.25s;
    border-bottom: 1px solid var(--color-secundary);
    color: var(--color-secundary);
}

.list_pages .select:hover a {
    border-bottom: 1px solid #FAFAFA;
    color: #FAFAFA;
}

.option_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 12px;
    padding: 8px 12px;
    background: var(--color-primary);
    border-radius: 10px;
}
.option_header .option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 10px;
}
.option_header .perfil_icon img{
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 6px;
}

.theme img{
    width: 20px;
    height: 20px;

}

.img_about_me{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

